.cart-page
    padding:3em 0
    margin: 3em 0
    background: #fafafa
    min-height: 100vh


    .cart-table
        background: #fff
        border-radius: 8px
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.06 ) 
        overflow: hidden
        
    
.table
    width: 100%
    text-align: left
    border-collapse: collapse
    thead
        tr
            background: $primary-color
            color:#fff
            th
                padding: 10px
                font-weight: 600
                font-size: 18px
    tbody
        tr
            td
                padding: 10px
                font-weight: 400
                font-size: 18px

                .cart-item-title
                    font-weight: 500
                    margin-bottom: 10px
                    text-decoration: none
                    color: $primary-color
                    display: flex
                    align-items: center
                    gap: 20px

                    img
                        width: 50px
.cart-total
    td
        font-size: 22px
        font-weight: 600
        color: $primary-dark    
.cart-actions
    display: flex
    justify-content: center
    padding: 30px
    margin-top: 24px




                    
