.checkout-page
    padding: 70px 0
    background: #fafafa
    min-height: 100vh

    .wrapper
        border-radius: 0.3rem
        
    .checkout-form
        background: #fff
        overflow: hidden
        padding: 30px
        width: 700px
        max-width: 100%
        margin: 0 auto
    .cart-mini
        background: #fff
        overflow: hidden
    .left-side
        padding-right: 0
        padding-left: 0 !important
    .right-side
        padding-left: 0
        padding-right: 0 !important
        border-top-right-radius: 0.3rem !important
        border-bottom-right-radius: 0.3rem !important
    .checkout-row
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2) !important
        margin-left: 0 !important
