.product-page
    .product-card
        overflow: hidden
        border: none
        color: #fff
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25)

    .btn-cart
        background-color: $primary-color
        color: #fff
        height: 40px
        transition: all 0.4s ease
        padding-left: 2.2em !important
        padding-right: 2.2em !important

        &:hover
            background: #e60000
    .img-col
        background-color: #fff

.shop-page
    min-height: 100vh
    .product-list
        width: 100%


.swiper-slide 
    display: flex !important
    height: auto !important
    justify-content: center
    
.recommended-swiper 
    position: relative
    padding-bottom: 0 40px
    background-color: #f8f9fa
.swiper-button-prev, .swiper-button-next 
    position: absolute !important
    top: 55% !important
    transform: translateY(-50%)
    z-index: 10 !important
    width: 30px !important
    border-radius: 3rem
    box-shadow: none !important
    color: #e60000 !important

    &::after 
        font-size: 2rem !important
        font-weight: 600

.swiper-button-prev 
    left: -40px !important
.swiper-button-next 
    right: -40px !important

.quantity-input
    max-width: 6em
    min-width: 4em
    text-align: center
    padding-right: 0.5rem
.calculated-price
    font-size: 1.2em
    font-weight: bold
    color: $primary-color

.category-box
    color: #fff


    