# Laravel általános
/vendor
/node_modules
/public/storage
/storage/*.key
.env

# Logok és cache
/storage/framework/*
!/storage/framework/.gitignore


# Laravel Mix / Vite build output
/public/js
/public/css
/public/mix-manifest.json
/public/hot
/public/build

# IDE / Editor specifikus
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
Desktop.ini

# tesztek
/.phpunit.result.cache

# Lokális adatbázismentés vagy dump fájlok
*.sql
*.sqlite

