.navbar, .navbar-expand-lg
    background: var(--bs-body-bg) !important
    display: flex
    justify-content: space-between !important
    padding: 10px 25px

    .logo
        height: 46px
.navbar-expand-lg .collapse, .navbar-collapse
    justify-content: right

.navbar ul li a 
    color: var(--bs-heading-color) !important

.navbar-brand img
    height: 45px
    width: auto
footer a
    text-decoration: none
footer hr
    width: 60px
    color: $primary-color
    background-color: $primary-color
    height: 2px